html
    head
        title Sky Go Developer Pairing Test

        link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")

        script(src="/javascripts/vendors/angular/angular.js")
        script(src="/javascripts/vendors/angular-route/angular-route.js")

        script(src="/javascripts/app.js")
        script(src="/javascripts/controllers/TvListingsCtrl.js")
        script(src="/javascripts/models/TvListingsSvc.js")

    body(data-ng-app="skyGoDevPairingTest")
        data-ng-view()
